<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Task Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <nav class="pull-right">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active"><a [routerLink]="['/tasks']">Task</a></li>
                    <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signup']">Register</a></li>
                    <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signin']">Login</a></li>
                    <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']">Logout</a></li>
                </ul>
            </nav>
        </div>
      </div>
    </nav>
</div>